
                    .testMethodStatusCONF { display: none; }
                
                    .testMethodStatusFAIL { background-color: #CB5959; }
                
                    .testMethodStatusPASS { background-color: #70A772; }
                
                    .testMethodStatusSKIP { background-color: #F5D76C; }
                

            
           body { font-family: Arial, sans-serif; font-size: 12px; padding: 10px; margin: 0px; background:url(tiny_grid.png) repeat; }
            a, a:hover, a:active, a:visited { color: navy; }

            .suiteMenuHeader { margin-top: 10px; }
            .suiteMenuHeader td { padding: 5px; background-color: #e0e0e0; font-size: 12px; width: 100%; vertical-align: top; }

            .suiteStatusPass, .suiteStatusFail { padding-right: 20px; width: 20px; height: 20px; margin: 2px 4px 2px 2px; display: inline; }
            .suiteStatusPass { background-color: #70A772; }
            .suiteStatusFail { background-color: #CB5959; }

            .testCaseLink, .testCaseLinkSelected { margin-top: 2px; padding: 4px; cursor: pointer; }
            .testCaseLink { background-color: #f6f6f6; }
            .testCaseLinkSelected { background-color: lightblue; border: 1px solid gray;  padding: 3px; }
            .testCaseFail, .testCasePass, .testCaseSkip { padding-right: 15px; width: 15px; height: 15px; margin: 2px 4px 2px 2px; display: inline; }
            .testCaseFail { background-color: #CB5959; }
            .testCasePass { background-color: #70A772; }
            .testCaseSkip { background-color: #F5D76C; }

            tr.methodsTableHeader { background-color: #eaf0f7; font-weight: bold; }
            tr.methodsTableHeader td { padding: 3px; }

            .testMethodStatusFAIL a, .testMethodStatusPASS a, .testMethodStatusSKIP a { color:navy; text-decoration: none; cursor: pointer; }
            .testMethodStatusFAIL td, .testMethodStatusPASS td, .testMethodStatusSKIP td { padding: 3px; }

            .testMethodDetails, .testMethodDetailsVisible { padding: 5px; background-color: #f5f5f5; margin: 1px; }
            .testMethodDetails { display: none; }

            .testMethodsTable { margin-top: 10px; font-size: 12px; }
            .testMethodsTable td { border-width: 1px 0 0 1px; border-color: white; border-style:solid; }
            .testMethodsTable .detailsBox { padding: 0; background-color: white; border-style: none; height: 0px; }
            .testMethodsTable .testMethodStatusCONF td.firstMethodCell { border-left: 5px solid gray; }
             header {position: absolute; top:0; left:0; width:100%; border-bottom:4px solid #FB9337;}
		    #header_toolbar { background: url("topheaderbg.png") repeat scroll 0 0 #354561; border-bottom: 1px solid #303F59; height: 45px; padding-left: 10px; position: relative;}
		    .container_12 { width: auto;}
		    #header_toolbar h1 { margin: 0;}
			#header_toolbar h1 {color: #FFFFFF;font-size: 17px;padding-top: 12px;}
			.container_12 .grid_8 {width: 64.667%;}
			.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6, .grid_7, .grid_8, .grid_9, .grid_10, .grid_11, .grid_12 {display: inline;float: left;}
			.footer_logo {float: right;position: relative;margin: 25px 100px 20px 0;}
			footer {background: url("topheaderbg.png") repeat scroll 0 0 #354561;border-top:2px solid #273246;height: 35px;left:0;line-height:34px;width:100%;position: absolute;bottom:0;}
			footer #button_bar {display: inline;float: right;padding-right: 2px;}
			footer #button_bar li, footer #button_bar ul {display: table-cell;padding: 3px 8px 0 0;color:#fff;}
			footer #button_bar a {display: inline-block;height: 98%;margin: 0;} 
			footer #button_bar a:active, foo0ter #button_bar a:hover {color:#fff;}
			.content {background: url("bg_mid.jpg") no-repeat scroll left bottom #FFFFFF !important;min-height: 300px;border-color: #D0D2D5 #D0D2D5 #C6C9CC;border-image: none;border-style: solid;border-width: 1px;
   				font-size: 11px;font-weight: bold;margin: 0 10px 0 0;padding: 8px 12px 6px;border-radius:5px;padding:0px 10px 10px 10px;}
			.content_rgt {-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background-color: #EFF0F0;background-image: linear-gradient(#FFFFFF, #E8EAE9);border-color: #D0D2D5 #D0D2D5 #C6C9CC;border-image: none;
   				border-style: solid;border-width: 1px;font-size: 11px;font-weight: bold;margin: 0 3px 0 0;padding: 8px 12px 6px;border-radius:5px;padding:0px 10px 10px 10px;}     
   				.right_dec{ margin:0px; padding:0px;}
				.right_dec td{ padding:12px 5px; text-align: left; border-bottom: 1px solid #CCCCCC; color:#333333; }
				.right_dec td.default{ background: #E5E9EB;text-align: left;}
				.right_dec h4{font-size:12px; font-weight:bold; margin:0px;}
   				h2 {background:#E9E9E9;border: 1px solid #D5D5D5;color: #1c3461;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;padding:15px 5px;font-size: 13px;text-transform: uppercase;height: auto;}
   				.widget-box {border-bottom: 1px solid #CCCCCC;box-shadow: none;margin: 3px;padding: 0;width:45%;float:left;}
				.widget-box_full{border-bottom: 1px solid #CCCCCC;box-shadow: none;margin: 3px;padding: 0;width:100%;}
				.widget-box_rgt{border: 0px solid #CCCCCC;box-shadow: none;margin: 3px;padding: 0;width:50%;float:right;}
				.rgt_header{color:#fff;background:#2d3d5b;padding:10px;float:left;border:1px solid #2d3d5b;border-radius:2px;width:90%;}
				.rgt_header a{color:#fff;}
				.widget-header {position: relative;height: 40px;line-height: 40px;background: #2d3d5b;border-top-left-radius: 4px;border-top-right-radius: 4px;
					height: 40px;
					text-transform:uppercase;
					font-weight:bold;
					font-size:13px;
					line-height: 40px;
					color:#fff;
					padding-left:10px;
					text-align: center;
					position: relative;
				}
				.testCaseLink{ padding:5px 2px;border: 1px solid #dcdcdc;background:#fffef7;}
				.widget-content {background: none repeat scroll 0 0 #FFFFFF;border: 1px solid #acacac;padding: 20px 15px 15px;}
   				ul.tree{margin:0px;padding:0px;}
                li {cursor: pointer;line-height: 20px;list-style: none;}
                li ul {display: none;}
            
        