<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.listener.ParameterListener" />
	</listeners>
	
	<test name="TestSuite1">

		<classes>
			<class name="com.test.TestProject" />
			<class name="com.test.TestAppointment" />
			<class name="com.test.TestTask" />
			<class name="com.test.TestDocument" />
		</classes>

	</test>



</suite>
